[Unit]
Description=Rclone Bidirectional Sync
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=%h/.local/bin/rclone/rclone-bisync.sh

[Install]
WantedBy=default.target

