@define-color on_color #73D936;
@define-color off_color #df4949;
@define-color urgent_color #C73C3F;
@define-color icon_color #FFDD33;
@define-color wsp_active #FFFFFF;

@define-color text_color #FFFFFF;
@define-color bluetooth_connected #0082FC;
@define-color bluetooth_disabled #665c54;
@define-color bluetooth_on #458588;
@define-color tooltip_bkg #181818;
@define-color waybar_bkg #181818;
@define-color battery_normal #FFFFFF;
@define-color battery_warning #FFDD33;
@define-color battery_critical @urgent_color;
@define-color battery_charging #73D936;
@define-color battery_full #9E95C7;


@define-color black0 #101010;
@define-color black1 #453D41;
@define-color cream #dcd7ba;
@define-color icon0 #CC8C3C;
@define-color icon1 #e5c185;
@define-color icon2 #fbf2c4;
@define-color icon3 #74a892;
@define-color icon4 #008585;
@define-color icon5 #be7973;
@define-color icon6 #96A6C8;
@define-color icon7 #ffead3;
@define-color icon8 #ecc6d9;
@define-color icon9 #73D936;
@define-color icon10 #ffcc66;
@define-color icon11 #ff6699;

@define-color bkg1 #101010;
@define-color bkg2 #453D41;

@define-color sep #CAB693;
