@import "colors.css";

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
}

/* The whole bar */
#waybar {
    font-family: "Phosphor", "SFMono Nerd Font Mono Medium";
    background: transparent;
    margin: 0px;
}

/* The window module displays the title of the currently focused window of
*  Hyprland, the Wayland compositor. */
/* #window { */
/*     font-size: 14px; */
/* } */

tooltip {
    background: @tooltip_bkg;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: @tooltip_border;
}
tooltip label{
    font-family: "SF Pro Display";
		/*font-weight: bold;*/
    font-size: 10pt;
}

#workspaces {
		font-family:"Phosphor", "SF Pro Display";
    font-size: 18px;
		/*font-weight: bold;*/
    border-radius: 10px;
    background: @waybar_bkg;
}
#workspaces button {
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
    color: @wsp_occupied;
    /* color: @text_color; */
}
#workspaces button.empty {
    color: @wsp_empty;
}
#workspaces button.active {
    /*padding-right: 10px; */
    /*padding-left: 10px; */
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 10px; 
    color: @wsp_active;
     /*border-bottom: 2px solid @wsp_active; */
}
#workspaces button.urgent {
    color: @wsp_urgent;
}
#workspaces button:hover {
    background-color: rgba(100, 100, 100, 0.2);
    opacity: 0.9;
    border: none;
    box-shadow: none;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    /* border-radius: 10px; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
}

/* Overall control over the entire group of modules. */
.modules-right  {
    margin-right: 0;
    /* Currently, margins are set in config.jsonc */
    /* See command:
       "margin": "10 10 0 10", // above, right, below, left
    */
}

#custom-cpu-icon,
#custom-date-icon,
#custom-exit,
#custom-hypridle,
#custom-memory-icon,
#custom-time-icon,
#custom-updates-icon,
#submap,
#bluetooth,
#network,
#idle_inhibitor,
#tray,
#pulseaudio,
#battery
{
    font-family: "Phosphor";
    font-size: 16px;
    padding-left: 10px;
    padding-right: 5px;
    color: @icon_color;
    background: @waybar_bkg;
}

#battery-percentage,
#clock,
#cpu,
#custom-updates, 
#memory,
#custom-spotify,
#pulseaudio.percentage,
#battery.percentage
{
    font-family: "SF Pro Display", "SFMono Nerd Font Mono Medium", "Phosphor";
    font-size: 14px;
    padding-left: 5px;
    padding-right: 10px;
    color: @text_color;
    background: @waybar_bkg;
		/*font-weight: bold;*/
}

#submap{
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#clock{ font-family: "SF Pro Display", "SFMono Nerd Font Mono Medium", "Phosphor";
		font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: @text_color;
    background: @waybar_bkg;
}

#custom-hypridle {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
}
#custom-hypridle.active {
    /* color: @iconcolor; */
    color: @icon_color;
}
#custom-hypridle.notactive {
    /* color: #dc2f2f; */
    color: @off_color;
}

#idle_inhibitor{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
}
#idle_inhibitor.activated {
    /* color: @on_color; */
}
#idle_inhibitor.deactivated {
    color: @disabled_color;
}

#bluetooth {
}
#bluetooth.disabled {
    color: @bluetooth_disabled;
}
#bluetooth.on{
    color: @bluetooth_on;
}
#bluetooth.connected{
    color: @bluetooth_connected;
}

#network {
    padding-left: 10px;
    background: @waybar_bkg;
    font-family: "Phosphor", "SFMono Nerd Font Mono Medium";
    font-size: 18px;
    color: @icon_color;
}
#network.wifi {
}
#network.disconnected {
    color: @off_color;
}

#pulseaudio {
}
#pulseaudio.muted {
    color: @off_color;
}
#pulseaudio.percentage{
    border-radius: 0px;
}

#battery {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#battery.percentage {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#battery.full {
    color: @battery_full;
}

#battery.charging {
    color: @battery_charging;
}

#battery.warning:not(.charging) {
    color: @battery_warning;
    /*animation-name: blink;*/
    /*animation-duration: 0.5s;*/
    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
}

#battery.critical:not(.charging) {
    color: @battery_critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        opacity: 0.5;
    }
}

#custom-cpu-icon{
}
#cpu {
}

#custom-memory-icon{
}
#memory {
}

#custom-updates-icon{
}
#custom-updates{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#custom-exit{
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    /* border-radius: 10px; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* ================== [ NOT IN USE ] ===================== */

#custom-spotify {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 20px;
    color: rgb(102, 220, 105);
    border-radius: 10px;
}

#tray {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}
